
<ons-page ng-controller="HomeController">
  <ons-toolbar>
   <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon><div class="notification menu-notification">{{TotalNumberOfNews}}</div>
      </ons-toolbar-button>
    </div>
    <div class="center">{{'HEADER_MESSAGE_HOME'|translate}}</div>
  </ons-toolbar>
          <ons-pull-hook ng-action="load($done)" var="loader" height="100px">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
      </ons-pull-hook>
          <div class="container" ng-hide="noNotifications">
<a style="text-decoration:none" href ng-click="menu.setMainPage('views/notifications.html',{closeMenu:true})">
        <alert align="center" ng-show="showAlert&&(Notifications==1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notifications. <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
        </alert>
        <alert align="center" ng-show="showAlert&&(Notifications>1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notification. <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
        </alert></a>
 </div>

      <div class="container" >
        <img ng-src="./img/muhc-logo-text.png" >
      </div>
      <div class="container">
       <div align="left" style="margin-bottom:5px"><strong>{{dateToday|date:"EEEE, MMMM d yyyy"}}</strong><br></div>
      
       <ons-row class="profile-wrapper" >
        <ons-col width="60px" class="profile-image-wrapper" align="center">
          <img ng-src="{{ProfileImage}}" class="profile-image">
        </ons-col>
        <ons-col>
          <div class="profile-name" style="color:#2B6197">{{FirstName}} {{LastName}}</div>
          <div class="profile-email">{{Email}}</div>
        </ons-col>
       
      </ons-row>
     
    <div class="btn panel panel-default" style="margin-top:5px;width:100%;padding:3px">
      <div ng-click="menu.setMainPage('views/treatment-plan.html',{closedMenu:true})">
      <div class="panel-body" >
        <ons-row >
        <ons-col>
        <div  align="left" style="margin-left:5px">
          <span class="profile-name">{{'STATUS'|translate}}: </span>Treatment planning
        </div>
        </ons-col>
        <ons-col width="3px">
        <div align="right" style="margin-top:3px">
                <i class="ion-chevron-right" style="font-size:20px;opacity:0.2"></i>
                </div>
        </ons-col>
        </ons-row>
      </div>
      </div>
    </div>
    <div class="btn panel panel-default" style="width:100%;padding:3px" >
      
      <div class="panel-body" >
      <div ng-click="menu.setMainPage('views/schedule.html',{closedMenu:true},{param:'next'})">
      <ons-row   >
        <ons-col >

         <div align="center" style="margin-left:5px">
                  <div align="center"> <span class="profile-name">Next Appointment: </span><br> </div> 
              
                    {{NextAppointment.ScheduledStartTime|date:"EEEE, MMMM d 'at' h:mm a"}}<br>
                    {{NextAppointment.AppointmentType}}
                 
                 <!-- <select ng-model="locale" class="form-control"
                    ng-change="updateLocale(locale)"
                    ng-options="locale.id as locale.name for locale in locales">
                </select>-->


              </div>
              </ons-col>
              <ons-col width="3px"  >
              <div align="right" style="margin-top:20px">
                <i class="ion-chevron-right" style="font-size:20px;opacity:0.2"></i>
                </div>
              </ons-col>
              </ons-row>
               </div>
              <div class="col-xs-12" ng-show="!nextAppointmentIsToday" >
                  <div align="center">
                  <hr>
                      <button class="btn btn-primary" ng-click="menu.setMainPage('views/checkin.html', {closeMenu: true})"><ons-icon icon="fa-check-square-o" fixed-width="true"></ons-icon>{{"CHECKIN_BUTTON"|translate}}</button>
                  </div>
             </div>
      </div>
     
      </div>
      
  

      <!--<ons-list modifier="inset" style="margin-top: 10px" class="prop-desc">
       <ons-list-item modifier="chevron" ng-click="menu.setMainPage('views/schedule.html', {closeMenu: true})">
          <i class="fa fa-check-square-o" ></i>&nbsp;{{"GO_TO_APPOINTMENTS_TAP"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('page1.html', { animation : 'slide' } );" >
          <ons-icon icon="ion-android-people"></ons-icon>&nbsp;<span style="color:black">{{"CONTACT_DOCTORS_TAP"|translate}}</span>
        </ons-list-item>
      </ons-list>-->